<div class="container">
	<div class="row">
		<div class="col-xs-8">
			<h2 class="section-headline"><span>Home</span></h2>
			
		</div>
		<div class="col-xs-4">
			<!-- <img src="../../../assets/image/logo.png" class="img-responsive right" style="width:400px; z-index:1;" /> -->
		</div>
		<img src="../../../assets/image/d.png" class="img-responsive right" style="position: absolute; margin-top: 0px; z-index: -2;" />
	</div>

	<!-- <hr style="position:absolute;width:80%; height:6px; background-color:#333; z-index:-1; margin-top: -170px;" />
	<hr /> -->

	<div class="row">
		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<a class="pointer" routerLink="/bookList">
						<img src="../../../assets/image/ab.png" class="img-responsive" />
					</a>
				</div>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<a class="pointer" routerLink="/bookList">
						<img src="../../../assets/image/cd.png" class="img-responsive" />
					</a>
				</div>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<a class="pointer" routerLink="/bookList">
						<img src="../../../assets/image/fg.png" class="img-responsive" />
					</a>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="home-headline"><span>Featured Books</span></div>
		<hr style="margin-top: -15px;" />
	</div>

	<img class="img-responsive" src="../../../assets/image/shelf.png" style="margin-top: -5px; z-index:-1;" />

	<div class="row" style="margin:auto; margin-top:-190px; margin-bottom:50px; width:90%;">
		<div class="col-xs-2">
			<img class="img-responsive" style="width: 70%;" src="../../../assets/image/book1.png" />
		</div>
		<div class="col-xs-2">
			<img class="img-responsive" style="width: 70%;" src="../../../assets/image/book3.png" />
		</div>
		<div class="col-xs-2">
			<img class="img-responsive" style="width: 70%;" src="../../../assets/image/book4.png" />
		</div>
		<div class="col-xs-2">
			<img class="img-responsive" style="width: 70%;" src="../../../assets/image/book5.png" />
		</div>
		<div class="col-xs-2">
			<img class="img-responsive" style="width: 70%;" src="../../../assets/image/book6.png" />
		</div>
		<div class="col-xs-2">
			<img class="img-responsive" style="width: 70%;" src="../../../assets/image/book7.png" />
		</div>
	</div>
</div>